<mat-dialog-content>
    <h2 class="text-center text-primary">Create Column</h2>
    <hr>
        
</mat-dialog-content>

<mat-dialog-actions>
    <div class="d-flex justify-content-center w-100">
        <form #createJobForm="ngForm" (ngSubmit)="createColumn()" autocomplete="off">
            <div class="form-group mb-1">
                <input name="Name" [(ngModel)]="model.Name" type="text" placeholder="Column Name">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success me-2 mt-1" type="submit">Save</button>
                <button class="btn btn-secondary mt-1" (click)="close()" type="button">Close</button>
            </div>
        </form>
    </div>
</mat-dialog-actions>