<div class="d-flex justify-content-end">
    <button type="button" class="position-fixed btn btn-secondary mb-1" (click)="close()">Close</button>
</div>
<div class="row m-1 pt-2">
    <div class="col-7 pe-0 me-0">
        <div class="row pe-0 me-0">
            <div class="col-12 pe-0 me-0">
                <h2 class="text-primary">Name:</h2>
                <h5 class="text-info ps-3 text-break">{{job.name}}</h5>
                <hr>
            </div>
            <div class="col-12 pe-0 me-0">
                <h2 class="text-primary">Description:</h2>
                <p class="ps-3 text-break">{{job.description}}</p>
                <hr class="m-0 p-0">
            </div>
            <div class="col-12 pe-0 me-0">
                <h4 class="text-primary m-0 p-0">Priority:</h4>
                <p class="ps-3 text-break m-0 p-0 pb-1">
                    <span *ngIf="job.priority === 'High'" class="border border-danger rounded-circle text-danger p-1">
                        {{job.priority}} 
                        <i class="fa fa-exclamation text-danger"></i>
                        <i class="fa fa-exclamation text-danger"></i>
                        <i class="fa fa-exclamation text-danger"></i>
                    </span>
                    <span *ngIf="job.priority === 'Medium'" class="border border-warning rounded-circle text-warning p-1">
                        {{job.priority}} 
                        <i class="fa fa-exclamation text-warning"></i>
                        <i class="fa fa-exclamation text-warning"></i>
                    </span>
                    <span *ngIf="job.priority === 'Low'" class="border border-success rounded-circle text-success p-1">
                        {{job.priority}} 
                        <i class="fa fa-exclamation text-success text-center"></i>
                    </span>
                </p>
                <hr class="m-0 p-0">
            </div>
            <div class="col-12 pe-0 me-0">
                <h4 class="text-primary m-0 p-0">Term:</h4>
                <p class="ps-3 text-break m-0 p-0">{{job.deadline | date:'YYYY MMMM dd'}}</p>
            </div>
        </div>
    </div>
    <div class="col-5 border-start border-dark ps-0 ms-0 mt-4">
        <h3 class="text-center text-primary">Assigned Members</h3>

        <table class="table table-striped table-sm table-borderless text-center align-middle">
            <thead>
                <tr>
                    <th scope="col" style="width: 15%;">#</th>
                    <th scope="col">Emails</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of job.userEmails; let i = index">
                    <th>{{i + 1}}</th>
                    <th>{{member}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="mt-0">

<h4 class="text-primary mx-1 mb-0">Comments Section:</h4>
<div class="row justify-content-center mx-1">
    <div class="col-12 px-1">
        <div class="form-outline w-100">
            <form #createCommentForm="ngForm" (ngSubmit)="createComment()" autocomplete="off">
                <div class="d-flex flex-row mt-3 mb-3">
                    <input name="Text" [(ngModel)]="model.Text" type="text" class="form-control me-3" placeholder="Add comment">
                    <button type="submit" class="btn btn-primary">Comment</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row border border-dark rounded mb-1" *ngFor="let comment of comments">
        <div class="col-6 p-0"><i class="fa fa-user-circle-o mx-1"></i><span class="text-primary">{{comment.creator}}</span></div>
        <div class="col-6 d-flex justify-content-end ms-auto p-0">{{comment.createAt | date:'medium'}}</div>
        <hr class="mb-1">
        <div class="col-11">{{comment.text}}</div>
        <div class="col-1" *ngIf="accountService.currentUser$ | async as user">
            <button *ngIf="user.email === comment.creator || user.email === board.ownerEmail" class="btn btn-outline-danger m-1 p-0" style="width: 25px; height: 25px;" (click)="deleteComment(comment.id)">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>
