<mat-dialog-content>
    <h3 class="text-center text-primary">Assigned Members</h3>
    <hr>
</mat-dialog-content>

<table class="table table-striped text-center align-middle">
    <thead>
        <tr>
            <th scope="col" style="width: 15%;">#</th>
            <th scope="col">Emails</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of members; let i = index">
            <th>{{i + 1}}</th>
            <th *ngIf="(accountService.currentUser$ | async).email === member" class="text-success">{{member}}</th>
            <th *ngIf="(accountService.currentUser$ | async).email !== member">{{member}}</th>
        </tr>
    </tbody>
</table>


<mat-dialog-actions>
    <button class="btn btn-secondary mt-1 mx-auto" (click)="close()" type="button">Close</button>
</mat-dialog-actions>
